In [1]:
# Dependencies
import pandas as pd

# Files to load
data_host = "data/host_cities.csv"
data_gdp = "data/noc_gdp.csv"

In [2]:
# Create Host Cities DataFrame
host_df = pd.read_csv(data_host)
print(host_df.shape)
host_df.head()

(42, 2)

   Host City Host Country
0  Barcelona          ESP
1     London          GBR
2  Antwerpen          BEL
3      Paris          FRA
4    Calgary          CAN

In [3]:
# Create Olympic Athletes DataFrame
athletes_df = pd.read_csv(data_athletes)
print(athletes_df.shape)
athletes_df.head(20)

(188046, 17)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal_Type,Medal,Row
0,1,A Dijiang,M,24,180,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No_Medal,N,2
1,2,A Lamusi,M,23,170,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No_Medal,N,3
2,5,Christine Jacoba Aaftink,F,21,185,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No_Medal,N,4
3,5,Christine Jacoba Aaftink,F,21,185,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",No_Medal,N,5
4,5,Christine Jacoba Aaftink,F,25,185,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,No_Medal,N,6
5,5,Christine Jacoba Aaftink,F,25,185,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",No_Medal,N,7
6,5,Christine Jacoba Aaftink,F,27,185,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,No_Medal,N,8
7,5,Christine Jacoba Aaftink,F,27,185,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",No_Medal,N,9
8,6,Per Knut Aaland,M,31,188,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,No_Medal,N,10
9,6,Per Knut Aaland,M,31,188,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,No_Medal,N,11
10,6,Per Knut Aaland,M,31,188,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,No_Medal,N,12
11,6,Per Knut Aaland,M,31,188,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,No_Medal,N,13
12,6,Per Knut Aaland,M,33,188,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,No_Medal,N,14
13,6,Per Knut Aaland,M,33,188,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,No_Medal,N,15
14,6,Per Knut Aaland,M,33,188,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,No_Medal,N,16
15,6,Per Knut Aaland,M,33,188,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,No_Medal,N,17
16,7,John Aalberg,M,31,183,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,No_Medal,N,18
17,7,John Aalberg,M,31,183,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,No_Medal,N,19
18,7,John Aalberg,M,31,183,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,No_Medal,N,20
19,7,John Aalberg,M,31,183,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,No_Medal,N,21

In [4]:
# Create NOC Regions DataFrame
regions_df = pd.read_csv(data_regions)
print(regions_df.shape)
regions_df.head()

(230, 3)

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [5]:
# Drop "notes" column
regions_df = regions_df.drop(columns=["notes"])
regions_df.head()

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

In [6]:
# Merge athletes and host citiy dataframes and create new dataframe
olympics_df = athletes_df.merge(host_df, left_on="City", right_on="Host City")
olympics_df = olympics_df.merge(regions_df, on="NOC")
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal_Type,Medal,Row,Host City,Host Country,region
0,1,A Dijiang,M,24,180,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No_Medal,N,2,Barcelona,ESP,China
1,6848,Bai Chongguang,M,21,184,83.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Boxing,Boxing Men's Light-Heavyweight,No_Medal,N,9643,Barcelona,ESP,China
2,6854,Bai Mei,F,17,166,46.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,No_Medal,N,9650,Barcelona,ESP,China
3,11225,Bi Zhong,M,23,188,110.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Men's Hammer Throw,No_Medal,N,16018,Barcelona,ESP,China
4,17295,Cai Yanshu,M,28,169,79.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Weightlifting,Weightlifting Men's Light-Heavyweight,No_Medal,N,24735,Barcelona,ESP,China

In [7]:
# Check for null values
olympics_df.isnull().sum()

ID               0
Name             0
Sex              0
Age              0
Height           0
Weight           0
Team             0
NOC              0
Games            0
Year             0
Season           0
City             0
Sport            0
Event            0
Medal_Type       0
Medal            0
Row              0
Host City        0
Host Country     0
region          16
dtype: int64

In [8]:
null = olympics_df.isnull()
null_rows = null.any(axis='columns')
olympics_df[null_rows]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal_Type,Medal,Row,Host City,Host Country,region
176041,66655,Tuau Lapua Lapua,M,21,140,62.0,Tuvalu,TUV,2012 Summer,2012,Summer,London,Weightlifting,Weightlifting Men's Featherweight,No_Medal,N,97293,London,GBR,NaN
176042,86663,Tavevele Noa,M,20,176,74.0,Tuvalu,TUV,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,No_Medal,N,127004,London,GBR,NaN
176043,120422,Etimoni Timuani,M,24,184,72.0,Tuvalu,TUV,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,No_Medal,N,176857,Rio de Janeiro,BRA,NaN
176044,33094,Logona Esau,M,21,163,69.0,Tuvalu,TUV,2008 Summer,2008,Summer,Beijing,Weightlifting,Weightlifting Men's Lightweight,No_Medal,N,47051,Beijing,CHN,NaN
187733,3515,Paulo Amotun Lokoro,M,24,170,61.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Men's 1,500 metres",No_Medal,N,5011,Rio de Janeiro,BRA,NaN
187734,4379,Rami Anis,M,25,178,78.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Freestyle,No_Medal,N,6138,Rio de Janeiro,BRA,NaN
187735,4379,Rami Anis,M,25,178,78.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 100 metres Butterfly,No_Medal,N,6139,Rio de Janeiro,BRA,NaN
187736,11364,Yiech Pur Biel,M,21,178,62.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 800 metres,No_Medal,N,16189,Rio de Janeiro,BRA,NaN
187737,16287,Mabika Yolande Bukasa,F,28,170,70.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Women's Middleweight,No_Medal,N,23381,Rio de Janeiro,BRA,NaN
187738,20693,James Nyang Chiengjiek,M,24,179,59.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 400 metres,No_Medal,N,29782,Rio de Janeiro,BRA,NaN
187739,60444,Yonas Kinde,M,36,172,57.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Marathon,No_Medal,N,87625,Rio de Janeiro,BRA,NaN
187740,71067,Anjelina Nadai Lohalith,F,23,163,50.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Women's 1,500 metres",No_Medal,N,104021,Rio de Janeiro,BRA,NaN
187741,71113,Rose Nathike Lokonyen,F,21,157,50.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 800 metres,No_Medal,N,104086,Rio de Janeiro,BRA,NaN
187742,74902,Yusra Mardini,F,18,157,53.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 100 metres Freestyle,No_Medal,N,109598,Rio de Janeiro,BRA,NaN
187743,74902,Yusra Mardini,F,18,157,53.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 100 metres Butterfly,No_Medal,N,109599,Rio de Janeiro,BRA,NaN
187744,80325,Popole Misenga,M,24,180,90.0,Refugee Olympic Athletes,ROT,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Middleweight,No_Medal,N,117516,Rio de Janeiro,BRA,NaN

In [9]:
olympics_df = olympics_df.dropna(how="any")
olympics_df.isnull().sum()

ID              0
Name            0
Sex             0
Age             0
Height          0
Weight          0
Team            0
NOC             0
Games           0
Year            0
Season          0
City            0
Sport           0
Event           0
Medal_Type      0
Medal           0
Row             0
Host City       0
Host Country    0
region          0
dtype: int64

In [10]:
# Load GDP dataframe
gdp_df = pd.read_csv(data_gdp)
gdp_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Medal_Type,Medal,Row,Employment,Population,UnemploymentRate,GDP,DateofInfraction,IneligibilityUntil,LifetimeBan
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,No_Medal,N,2,0.000,"1,171.71",2.300,492.155,0.0,0.0,0.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,No_Medal,N,3,0.000,"1,354.04",4.090,8539.470,0.0,0.0,0.0
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,4,6.093,14.715,6.247,264.223,0.0,0.0,0.0
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,5,6.093,14.715,6.247,264.223,0.0,0.0,0.0
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,6,6.648,15.129,4.865,366.004,0.0,0.0,0.0

In [11]:
# Merge GDP column only with olympics_df
olympics_df = olympics_df.merge(gdp_df['GDP'], left_index=True, right_index=True)
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,City,Sport,Event,Medal_Type,Medal,Row,Host City,Host Country,region,GDP
0,1,A Dijiang,M,24,180,80.0,China,CHN,1992 Summer,1992,...,Barcelona,Basketball,Basketball Men's Basketball,No_Medal,N,2,Barcelona,ESP,China,492.155
1,6848,Bai Chongguang,M,21,184,83.0,China,CHN,1992 Summer,1992,...,Barcelona,Boxing,Boxing Men's Light-Heavyweight,No_Medal,N,9643,Barcelona,ESP,China,8539.470
2,6854,Bai Mei,F,17,166,46.0,China,CHN,1992 Summer,1992,...,Barcelona,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,No_Medal,N,9650,Barcelona,ESP,China,264.223
3,11225,Bi Zhong,M,23,188,110.0,China,CHN,1992 Summer,1992,...,Barcelona,Athletics,Athletics Men's Hammer Throw,No_Medal,N,16018,Barcelona,ESP,China,264.223
4,17295,Cai Yanshu,M,28,169,79.0,China,CHN,1992 Summer,1992,...,Barcelona,Weightlifting,Weightlifting Men's Light-Heavyweight,No_Medal,N,24735,Barcelona,ESP,China,366.004

In [12]:
# Drop extraneous columns that will not be a potential ML feature
olympics_df = olympics_df.drop(['ID', 'Team', 'City', 'Host City', 'Row'], axis=1)

# Rename and reorder the dataframe for preprocessing
olympics_df = olympics_df.rename(columns={'Name': 'Athlete',
                                         'Sex': 'Gender',
                                         'region': 'Region',
                                         'Medal': 'Medal?'})
olympics_df = olympics_df[['Year',
                           'Season', 
                           'Games', 
                           'Host Country', 
                           'NOC', 
                           'Region', 
                           'GDP',
                           'Athlete', 
                           'Gender', 
                           'Age',
                           'Height',
                           'Weight',
                           'Sport', 
                           'Event', 
                           'Medal?', 
                           'Medal_Type']]
olympics_df.head()

,Year,Season,Games,Host Country,NOC,Region,GDP,Athlete,Gender,Age,Height,Weight,Sport,Event,Medal?,Medal_Type
0,1992,Summer,1992 Summer,ESP,CHN,China,492.155,A Dijiang,M,24,180,80.0,Basketball,Basketball Men's Basketball,N,No_Medal
1,1992,Summer,1992 Summer,ESP,CHN,China,8539.470,Bai Chongguang,M,21,184,83.0,Boxing,Boxing Men's Light-Heavyweight,N,No_Medal
2,1992,Summer,1992 Summer,ESP,CHN,China,264.223,Bai Mei,F,17,166,46.0,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,N,No_Medal
3,1992,Summer,1992 Summer,ESP,CHN,China,264.223,Bi Zhong,M,23,188,110.0,Athletics,Athletics Men's Hammer Throw,N,No_Medal
4,1992,Summer,1992 Summer,ESP,CHN,China,366.004,Cai Yanshu,M,28,169,79.0,Weightlifting,Weightlifting Men's Light-Heavyweight,N,No_Medal

In [14]:
# Check for null values
olympics_df.isnull().sum()

Year            0
Season          0
Games           0
Host Country    0
NOC             0
Region          0
GDP             0
Athlete         0
Gender          0
Age             0
Height          0
Weight          0
Sport           0
Event           0
Medal?          0
Medal_Type      0
dtype: int64

In [15]:
# Export and save dataframe
olympics_df.to_csv('data/olympics.csv', index=False)