In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
dfFull = pd.read_csv("data/cleaned_athlete_gdp_sanction_data.csv")
print(dfFull.shape)
dfFull.head()

(188046, 24)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Medal_Type,Medal,Row,Employment,Population,UnemploymentRate,GDP,DateofInfraction,IneligibilityUntil,LifetimeBan
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,No_Medal,N,2,0.000,"1,171.71",2.300,492.155,0.0,0.0,0.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,No_Medal,N,3,0.000,"1,354.04",4.090,8539.470,0.0,0.0,0.0
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,4,6.093,14.715,6.247,264.223,0.0,0.0,0.0
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,5,6.093,14.715,6.247,264.223,0.0,0.0,0.0
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,6,6.648,15.129,4.865,366.004,0.0,0.0,0.0

In [13]:
dfFull.nunique()

ID                     91530
Name                   91029
Sex                        2
Age                       60
Height                    94
Weight                   214
Team                     453
NOC                      219
Games                     28
Year                      20
Season                     2
City                      27
Sport                     51
Event                    486
Medal_Type                 4
Medal                      2
Row                   188046
Employment               495
Population              1809
UnemploymentRate         985
GDP                     1887
DateofInfraction          15
IneligibilityUntil        11
LifetimeBan                1
dtype: int64

In [27]:
missing = dfFull.loc[(dfFull["Employment"]==0) & (dfFull["UnemploymentRate"]== 0) & (dfFull["GDP"]==0) & (dfFull["Population"])==0]
missing

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Medal_Type,Medal,Row,Employment,Population,UnemploymentRate,GDP,DateofInfraction,IneligibilityUntil,LifetimeBan
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,No_Medal,N,2,0.000,"1,171.71",2.300,492.155,0.0,0.0,0.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,No_Medal,N,3,0.000,"1,354.04",4.090,8539.470,0.0,0.0,0.0
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,4,6.093,14.715,6.247,264.223,0.0,0.0,0.0
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,5,6.093,14.715,6.247,264.223,0.0,0.0,0.0
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,6,6.648,15.129,4.865,366.004,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188040,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,...,No_Medal,N,199833,0.000,9.498,5.920,47.703,0.0,0.0,0.0
188042,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,...,No_Medal,N,199835,0.000,38.018,8.988,542.602,0.0,0.0,0.0
188043,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,...,No_Medal,N,199836,0.000,38.018,8.988,542.602,0.0,0.0,0.0
188044,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,...,No_Medal,N,199837,0.000,38.66,10.576,172.389,0.0,0.0,0.0
188045,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,...,No_Medal,N,199838,0.000,38.242,19.934,199.070,0.0,0.0,0.0

In [31]:
NOC_missing = missing['NOC'].unique()
print(len(NOC_missing))
NOC_missing.tolist()

185

['CHN',
 'NED',
 'USA',
 'FIN',
 'NOR',
 'ROU',
 'FRA',
 'EST',
 'ESP',
 'EGY',
 'BUL',
 'ITA',
 'AZE',
 'RUS',
 'ARG',
 'BLR',
 'GRE',
 'CMR',
 'MEX',
 'NCA',
 'HUN',
 'ALG',
 'KUW',
 'BRN',
 'PAK',
 'IRQ',
 'LIB',
 'QAT',
 'MAS',
 'IRI',
 'CAN',
 'IRL',
 'AUS',
 'RSA',
 'MAR',
 'ERI',
 'JOR',
 'LBA',
 'SUD',
 'BEL',
 'DJI',
 'COM',
 'KAZ',
 'BRU',
 'KSA',
 'MDV',
 'INA',
 'UZB',
 'UAE',
 'KGZ',
 'TJK',
 'JPN',
 'ETH',
 'GER',
 'SWE',
 'TUR',
 'SRI',
 'ARM',
 'CIV',
 'TUN',
 'KEN',
 'NGR',
 'BEN',
 'BRA',
 'UKR',
 'GHA',
 'LAT',
 'SYR',
 'GBR',
 'CHI',
 'SUI',
 'IND',
 'POL',
 'CRC',
 'GEO',
 'SLO',
 'CRO',
 'GUY',
 'POR',
 'ANG',
 'VEN',
 'COL',
 'BAN',
 'URU',
 'PUR',
 'UGA',
 'HON',
 'ECU',
 'TKM',
 'NZL',
 'MRI',
 'SEY',
 'CZE',
 'NIG',
 'TTO',
 'DOM',
 'JAM',
 'PHI',
 'LBR',
 'SUR',
 'NEP',
 'MGL',
 'PLW',
 'LTU',
 'NAM',
 'ISL',
 'TOG',
 'SAM',
 'RWA',
 'DMA',
 'HAI',
 'DEN',
 'MLT',
 'LUX',
 'AUT',
 'CYP',
 'GUI',
 'PAN',
 'BIZ',
 'PAR',
 'KOR',
 'MTN',
 'SGP',
 'PER',
 'SLE',
 'PNG',
 'TAN',
 'YEM',
 'OMA',
 'FIJ',
 'VAN',
 'MDA',
 'GUA',
 'ISR',
 'SRB',
 'ESA',
 'CAF',
 'MAD',
 'CHA',
 'BIH',
 'SVK',
 'BAR',
 'THA',
 'TLS',
 'GAB',
 'SMR',
 'LAO',
 'BOT',
 'MOZ',
 'CPV',
 'BOL',
 'ANT',
 'ZIM',
 'GRN',
 'HKG',
 'LCA',
 'FSM',
 'MYA',
 'MAW',
 'AFG',
 'SEN',
 'COD',
 'STP',
 'MKD',
 'TGA',
 'GEQ',
 'MNE',
 'SOL',
 'ALB',
 'MLI',
 'SWZ',
 'BDI',
 'ARU',
 'NRU',
 'ZAM',
 'CAM',
 'BHU',
 'VIE',
 'MHL',
 'KIR',
 'TUV',
 'KOS',
 'SSD',
 'LES',
 'BUR']

In [36]:
complete = dfFull[(dfFull["Employment"]!=0) & (dfFull["UnemploymentRate"]!= 0) & (dfFull["GDP"]!=0) & (dfFull["Population"])!=0]
complete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Medal_Type,Medal,Row,Employment,Population,UnemploymentRate,GDP,DateofInfraction,IneligibilityUntil,LifetimeBan
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,4,6.093,14.715,6.247,264.223,0.0,0.0,0.0
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,5,6.093,14.715,6.247,264.223,0.0,0.0,0.0
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,6,6.648,15.129,4.865,366.004,0.0,0.0,0.0
5,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,7,6.648,15.129,4.865,366.004,0.0,0.0,0.0
6,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,...,No_Medal,N,8,6.740,15.342,6.193,382.550,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188007,135551,Vladislavas Zybaila,M,27.0,178.0,75.0,Lithuania,LTU,2002 Winter,2002,...,No_Medal,N,199800,1.401,3.443,13.737,14.257,0.0,0.0,0.0
188008,135551,Vladislavas Zybaila,M,27.0,178.0,75.0,Lithuania,LTU,2002 Winter,2002,...,No_Medal,N,199801,1.401,3.443,13.737,14.257,0.0,0.0,0.0
188009,135551,Vladislavas Zybaila,M,27.0,178.0,75.0,Lithuania,LTU,2002 Winter,2002,...,No_Medal,N,199802,1.401,3.443,13.737,14.257,0.0,0.0,0.0
188010,135551,Vladislavas Zybaila,M,27.0,178.0,75.0,Lithuania,LTU,2002 Winter,2002,...,No_Medal,N,199803,1.401,3.443,13.737,14.257,0.0,0.0,0.0
188030,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,...,No_Medal,N,199823,4.390,10.94,10.600,238.823,0.0,0.0,0.0

In [37]:
complete['Year'].unique()

array([1988, 1992, 1994, 2002, 1980, 2000, 1996, 2014, 1998, 2006, 2004,
       1984, 2012, 2008, 2016, 2010], dtype=int64)

In [42]:
NOC_complete = complete['NOC'].unique()
print(len(NOC_complete))
NOC_complete.tolist()

36

['NED',
 'USA',
 'FIN',
 'NOR',
 'FRA',
 'EST',
 'ESP',
 'ITA',
 'GRE',
 'CAN',
 'IRL',
 'AUS',
 'BEL',
 'JPN',
 'GER',
 'SWE',
 'LAT',
 'GBR',
 'SUI',
 'SLO',
 'POR',
 'PUR',
 'NZL',
 'CZE',
 'LTU',
 'ISL',
 'DEN',
 'MLT',
 'LUX',
 'AUT',
 'CYP',
 'KOR',
 'SGP',
 'ISR',
 'SVK',
 'HKG']

In [50]:
# Only Filter for GDP not equal to 0
gdp_complete = dfFull[(dfFull["GDP"] != 0)]
gdp_complete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Medal_Type,Medal,Row,Employment,Population,UnemploymentRate,GDP,DateofInfraction,IneligibilityUntil,LifetimeBan
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,No_Medal,N,2,0.000,"1,171.71",2.300,492.155,0.0,0.0,0.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,No_Medal,N,3,0.000,"1,354.04",4.090,8539.470,0.0,0.0,0.0
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,4,6.093,14.715,6.247,264.223,0.0,0.0,0.0
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,No_Medal,N,5,6.093,14.715,6.247,264.223,0.0,0.0,0.0
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,...,No_Medal,N,6,6.648,15.129,4.865,366.004,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188040,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,...,No_Medal,N,199833,0.000,9.498,5.920,47.703,0.0,0.0,0.0
188042,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,...,No_Medal,N,199835,0.000,38.018,8.988,542.602,0.0,0.0,0.0
188043,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,...,No_Medal,N,199836,0.000,38.018,8.988,542.602,0.0,0.0,0.0
188044,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,...,No_Medal,N,199837,0.000,38.66,10.576,172.389,0.0,0.0,0.0
188045,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,...,No_Medal,N,199838,0.000,38.242,19.934,199.070,0.0,0.0,0.0

In [51]:
gdp_complete['Year'].unique()

array([1992, 2012, 1988, 1994, 2002, 1980, 2000, 1996, 2014, 1998, 2006,
       2016, 2004, 1984, 2008, 2010], dtype=int64)

In [52]:
gdp_complete.isnull().sum()

ID                    0
Name                  0
Sex                   0
Age                   0
Height                0
Weight                0
Team                  0
NOC                   0
Games                 0
Year                  0
Season                0
City                  0
Sport                 0
Event                 0
Medal_Type            0
Medal                 0
Row                   0
Employment            0
Population            0
UnemploymentRate      0
GDP                   0
DateofInfraction      0
IneligibilityUntil    0
LifetimeBan           0
dtype: int64

In [59]:
print(len(gdp_complete['NOC'].unique()))
gdp_complete['NOC'].unique()

185

array(['CHN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'FRA', 'EST', 'ESP',
       'EGY', 'BUL', 'ITA', 'AZE', 'RUS', 'ARG', 'BLR', 'GRE', 'CMR',
       'MEX', 'NCA', 'HUN', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ', 'LIB',
       'QAT', 'MAS', 'IRI', 'CAN', 'IRL', 'AUS', 'RSA', 'MAR', 'ERI',
       'JOR', 'LBA', 'SUD', 'BEL', 'DJI', 'COM', 'KAZ', 'BRU', 'KSA',
       'MDV', 'INA', 'UZB', 'UAE', 'KGZ', 'TJK', 'JPN', 'ETH', 'GER',
       'SWE', 'TUR', 'SRI', 'ARM', 'CIV', 'TUN', 'KEN', 'NGR', 'BEN',
       'BRA', 'UKR', 'GHA', 'LAT', 'SYR', 'GBR', 'CHI', 'SUI', 'IND',
       'POL', 'CRC', 'GEO', 'SLO', 'CRO', 'GUY', 'POR', 'ANG', 'VEN',
       'COL', 'BAN', 'URU', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'NZL',
       'MRI', 'SEY', 'CZE', 'NIG', 'TTO', 'DOM', 'JAM', 'PHI', 'LBR',
       'SUR', 'NEP', 'MGL', 'PLW', 'LTU', 'NAM', 'ISL', 'TOG', 'SAM',
       'RWA', 'DMA', 'HAI', 'DEN', 'MLT', 'LUX', 'AUT', 'CYP', 'GUI',
       'PAN', 'BIZ', 'PAR', 'KOR', 'MTN', 'SGP', 'PER', 'SLE', 'PNG',
       'TAN', 'YEM', 'OMA', 'FIJ', 'VAN', 'MDA', 'GUA', 'ISR', 'SRB',
       'ESA', 'CAF', 'MAD', 'CHA', 'BIH', 'SVK', 'BAR', 'THA', 'TLS',
       'GAB', 'SMR', 'LAO', 'BOT', 'MOZ', 'CPV', 'BOL', 'ANT', 'ZIM',
       'GRN', 'HKG', 'LCA', 'FSM', 'MYA', 'MAW', 'AFG', 'SEN', 'COD',
       'STP', 'MKD', 'TGA', 'GEQ', 'MNE', 'SOL', 'ALB', 'MLI', 'SWZ',
       'BDI', 'ARU', 'NRU', 'ZAM', 'CAM', 'BHU', 'VIE', 'MHL', 'KIR',
       'TUV', 'KOS', 'SSD', 'LES', 'BUR'], dtype=object)

In [56]:
gdp_df = gdp_complete[['Year',
                      'NOC',
                       'GDP']]
gdp_df

        Year  NOC       GDP
0       1992  CHN   492.155
1       2012  CHN  8539.470
2       1988  NED   264.223
3       1988  NED   264.223
4       1992  NED   366.004
...      ...  ...       ...
188040  2016  BLR    47.703
188042  2014  POL   542.602
188043  2014  POL   542.602
188044  1998  POL   172.389
188045  2002  POL   199.070

[135886 rows x 3 columns]

In [57]:
# Export and save dataframe
gdp_df.to_csv('data/noc_gdp.csv', index=False)