In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
from config import db_password
import pandas as pd

In [2]:
connection_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/olympics'

In [3]:
# Database Setup
engine = create_engine(connection_string)

In [4]:
# Create the session from Python to the DB
session = Session(engine)

In [5]:
# Create dataframe with filtered csv
df = pd.read_csv('data/athlete_events_after1960.csv')

In [6]:
# Drops all any rows with NA
df = df.dropna()

In [7]:
df['Name'].str.replace('"','')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal_Type,Medal,Row
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No_Medal,N,2
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No_Medal,N,3
2,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No_Medal,N,4
3,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",No_Medal,N,5
4,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,No_Medal,N,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199832,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,No_Medal,N,199834
199833,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",No_Medal,N,199835
199834,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",No_Medal,N,199836
199835,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,No_Medal,N,199837
199836,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,No_Medal,N,199838

In [9]:
df.to_sql(name='athletes', con=engine)

In [ ]:
#df = pd.read_sql_query('select * from "athlete_data"',con=engine)
#df

In [ ]:
# query 
#results = session.query(#...)